{% extends "base.html.twig" %}

{% block title %}
<title>Nous aider</title>{% endblock %}
{% block body %}
<body>
    
    <header class="">
        <img id="bgabout" src="{{asset('asset/images/acciphone.jpg')}}" alt="Femme et chien complice face à la nature">
    </header>
    <section class="container mt-5 d-flex flex-column justify-content-center">
        <h1 class="text-center font-weight-semibold mb-3 mt-3">Nous Aider</h1>
        <br><br>
        <h2 class="text-center font-weight-semibold mb-3 mt-3">En travaux</h2>
        <p>En travaux
        </p>
        <br>
        <h2 class="text-center font-weight-semibold mb-3 mt-3">En travaux</h2>
        <p>En travaux
        </p>
        </div>
        <div>
        </form>
        </div>   
        <br>
        <h2 class="text-center font-weight-semibold mb-3 mt-3">En travaux</h2>
        <p>En travaux</p>
            <p>En travaux
            </p>
            <br>
        </section>
    </body>
        {% endblock %}